<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149270172-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-149270172-2');
	</script>

	<title>まいんすいーぱ</title>
	<link rel="stylesheet" type="text/css" href="mine.css">
</head>

<script type="text/x-template" id="box-template">
	<td @click="push" @contextmenu="flag">{{ b.char }}</td>
</script>

<body>
	<div id="mineApp">
		<h3>鈴木爆発 出張解除</h3>
		<div>
			<div vertical-align="middle">
				<li>
					<label>縦の箱の数</label>
					<input type="number" min="2" max="40" v-model="height">
				</li>
				<li>
					<label>横の箱の数</label>
					<input type="number" min="2" max="40" v-model="width"></li>
				</li>
				<li>
					<label>爆発物の割合</label>
					<input type="number" min="0.0" max="1.0" step="0.01" v-model="ratio">
				</li>
				<li>
					<a href="#" class="pink_square_btn" @click="start">すたーと！</a>
					<a href="#" class="blue_square_btn" @click="reset">りせっと</a>
				</li>
			</div>
		</div>
		<div v-if="isStart">
			<table>
				<tr v-for="row in boxes">
					<td is="box-template" v-for="box in row" :class="classes[box.classIndex]" :b="box" @open="open"></td>
				</tr>
			</table>
		</div>
		<div>
			<p v-if="isStart">{{ duration }}</p>
			<p v-if="isSuccess">［解除］<br>この度は爆弾専門店 鈴木爆発をご利用いただき、誠にありがとうございました<br>
			それでは 3秒後爆発させて頂きます</p>
			<p v-if="isFailure">［爆発］<br>
			この度は爆弾専門店 鈴木爆発をご利用いただき、誠にありがとうございました<br>
			またのご利用をお待ちしております</p>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
	<script src="mine.js"></script>
</body>

</html>